[submodule "vagrant/cookbooks/postgresql"]
	path = vagrant/cookbooks/postgresql
	url = https://github.com/opscode-cookbooks/postgresql.git
[submodule "vagrant/cookbooks/openssl"]
	path = vagrant/cookbooks/openssl
	url = https://github.com/opscode-cookbooks/openssl.git
[submodule "mapc-basemap"]
	path = mapc-basemap
	url = https://github.com/MAPC/basemap
[submodule "scratch/crossfilter"]
	path = scratch/crossfilter
	url = https://github.com/also/crossfilter.git
[submodule "scratch/d3"]
	path = scratch/d3
	url = https://github.com/mbostock/d3.git
[submodule "lib/simpleserver"]
	path = lib/simpleserver
	url = https://github.com/also/simpleserver.git
[submodule "lib/osm4routing"]
	path = lib/osm4routing
	url = https://github.com/Tristramg/osm4routing.git
[submodule "scratch/three.js"]
	path = scratch/three.js
	url = https://github.com/mrdoob/three.js.git
[submodule "scratch/jquery"]
	path = scratch/jquery
	url = https://github.com/jquery/jquery.git
[submodule "scratch/globe"]
	path = scratch/globe
	url = https://github.com/also/globe.git
